VITE_SUPABASE_URL=https://bpvpxjwripilymetfujz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_L2RpXVbV_ERVazrprliH8w_uvFrMeB_
VITE_SENTRY_DSN=
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwdnB4andyaXBpbHltZXRmdWp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTI1NjgyMiwiZXhwIjoyMDk0ODMyODIyfQ.YmK7AuS5rF2iFx1b6xA1Mutxir8ATeWACV6962IRYGs